* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fondo__bod {
	background: #FEDB5D url('../images/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.fondo__header {
	background: rgba(8, 8, 8, 0.343);	
}
.fondo__main {
	background:#FEDB5D;
}
.fondo__aside {
	background: #FF5653;
}
.fondo__wit {
	background:#FEDB5D;
}
.fondo__footer{
	background: rgba(255, 255, 255, 0.343);
}
.color1{
	color:rgb(255, 255, 255);	
}
.color2{
	color: rgb(10, 10, 10);
}
.modelo{
	display: flex;
	flex-wrap:wrap;
}
.tipo1{
	flex-direction:row;	
}
.tipo2{
	flex-direction:column;	
}

body {
	font-family: 'Verdana', sans-serif;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1000px;
}
	header {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		justify-content:center;
		align-items:center;
		gap: 10px;
	}
		header figure {
			width: 70px;
		}
		header figure img {
			width: 100%;
		}

		main {
			/* background: #FEDB5D; */
			padding: 20px;
			width: 100%;
		}
		main .thumb {
				margin-bottom: 20px;
			}
			main .thumb img {
				vertical-align: top;
				width: 100%;
			}
			main  h2 {
				margin-bottom: 20px;
				font-weight: normal;
				font-size: 32px;
			}
			main  p {
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 27px;
			}	
		aside {
			width: 100%;
			padding: 20px;
			justify-content:flex-start;
			gap: 20px;
		}
			aside .wit {
				font-size: 30px;
				text-align: center;
				padding: 10px 10px;
				width: 100%;
			}
				aside .wit figure {
					width: 100%;
					display: block;
					margin: auto;
				}
					aside .wit figure img {
						width: 100%;
					}
	footer {
		margin-top: 20px;
		margin-bottom: 20px;	
		padding: 20px;
		margin-bottom: 20px;
		width: 100%;
		justify-content:center;
		text-align: center;
		gap: 20px;
	}
		footer .autor {
			padding-top: 8px;
			font-weight: 600;
		}
@media screen and (min-width: 801px) {
	#caja main {
		width: 70%;
		}
	#caja aside {
		width: 30%;
		}
	}
@media screen and (max-width: 800px) {
	#caja aside {
		flex-direction:row;
		justify-content:space-between;
	}
		#caja aside .wit {
			width: 45%;
		}
}
@media screen and (max-width: 480px) {
	#caja aside {
		flex-direction:column;
		justify-content:center;
	}
		#caja aside .wit {
			width: 100%;
		}
}