* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', sans-serif;
	background: #000 url('../images/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}

header {
	width: 100%;
	padding-bottom: 10px;
    margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	background: rgba(8, 8, 8, 0.343);
}
header .logo {
	/* background: #fff; */
	/* width: 500px; */
	color:rgb(255, 255, 255);
	padding-left: 10px;
}
header .logo h1 figure {
	width: 70px;
	display: inline-block;
	margin-top: 10px;
	padding-right: 10px;
	/* padding-top: 10px; */
}
header .logo h1 figure img {
	width: 100%;
}

.main {
	background: #fff;
	padding: 20px;
	width: 70%;
}

.main .thumb {
	margin-bottom: 20px;
}

.main .thumb img {
	vertical-align: top;
	width: 100%;
}

.main  h2 {
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}

.main  p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 27px;
}

aside {
	width: 30%;
	background: #FF5653;
	padding: 20px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
}

aside .ad {
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 10px 0;
	/*margin: 20px 0;*/
	background: #FEDB5D;
}
aside .ad figure {
	width: 250px;
	display: block;
	margin: auto;
}
aside .ad figure img {
	width: 100%;
}
footer {
	margin-top: 20px;
	margin-bottom: 20px;	
	background: rgba(8, 8, 8, 0.343);
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:space-between;
	text-align: center;
}


@media screen and (max-width: 800px) {
	.main {
		width: 100%;
	}

	aside {
		width: 100%;
		flex-direction:row;
	}

	aside .ad {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	header {
		
		padding-bottom: 20px; 
	}

	header .menu {
		width: 100%;
		background: rgba(255,255,255,.2);
		text-align: center;
		padding: 20px;
	}

	header .logo {
		margin-bottom: 20px;
	}

	header .menu a {
		margin:0 20px; 
	}
	aside .ad {
		padding: 5px 0;
	}

	aside .ad figure {
		width: 150px;

	}
}

@media screen and (max-width: 400px) {
	aside {
		width: 30%;
		/* flex-wrap:nowrap; */
	}
	aside .ad figure {
		width: 100px;

	}
}